body {
	font-family: 'Quicksand', sans-serif;
	background: #FEDFD3;
	color: #6E466E;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	color: #F4885F;
}

a {
	color: #CE8990;
}

#slogan {
	background: url("sky.png");
	background-size: cover;
	padding: 200px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}